Flask
flask_session
Flask-MySQLdb
Flask-Bcrypt
flask-wtf
cryptography
twilio
Flask-Mail
itsdangerous
google
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
flask_mail
pyotp
PyPDF2
qrcode
ttk
Tkinter