@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Google Sans";
  src: url(../fonts/GoogleSans-BoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
body {
  font-family: "google sans", sans-serif;
  background: #eee;
}

button:focus {
  outline: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #0080FF;
  top: 0;
  left: 0;
  z-index: 4;
}

.credit-card-page-container {
  max-width: 1280px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.credit-card-page-container .billing-title {
  padding: 60px 0 40px 0;
}

.layout-container {
  max-width: 1280px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.layout-container .left-col {
  flex: 1;
  background: #fff;
  margin-right: 10px;
  border-radius: 6px;
}
.layout-container .left-col h2 {
  margin: 20px;
}
.layout-container .left-col .your-cards-container {
  display: flex;
  height: 48px;
  border-radius: 6px;
  margin: 0 20px 10px 20px;
}
.layout-container .left-col .your-cards-container .credit-card-loader {
  width: 100%;
  background: #eee;
  border-radius: 6px;
}
.layout-container .left-col .your-cards-container .credit-card-loader .credit-card-loader-fill {
  background: transparent;
  border-radius: 6px;
  height: 48px;
  width: 0%;
}
.layout-container .left-col .your-cards-container .card-icon {
  background: #eee;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.layout-container .left-col .your-cards-container .card-icon .icon {
  width: 50px;
  height: 29px;
  background: #ddd;
  border-radius: 4px;
  margin: 8px 12px 8px 10px;
}
.layout-container .left-col .your-cards-container .card-info {
  flex: 1;
  background: #eee;
  line-height: 48px;
  font-size: 14px;
}
.layout-container .left-col .your-cards-container .card-info .card {
  font-weight: bold;
}
.layout-container .left-col .your-cards-container .edit {
  line-height: 48px;
  background: #eee;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.layout-container .left-col .order-history-title {
  margin: 200px 20px 20px 20px;
}
.layout-container .left-col p {
  margin: 0 20px 20px 20px;
  font-size: 14px;
  color: #999;
}
.layout-container .right-col {
  padding: 20px;
  background: #fff;
  margin-left: 10px;
  border-radius: 6px;
}
.layout-container .right-col h2 {
  padding: 0 0 20px 0;
}
.layout-container .right-col .credit-card-container {
  width: 333px;
  height: 193px;
  background: #0080FF;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.layout-container .right-col .credit-card-container .bg-circle-one {
  width: 208px;
  height: 208px;
  background: linear-gradient(#006cd6, #0080FF);
  border-radius: 50%;
  position: absolute;
  bottom: 76px;
  left: 210px;
  z-index: 1;
}
.layout-container .right-col .credit-card-container .bg-circle-two {
  width: 248px;
  height: 248px;
  background: linear-gradient(#006CD6, #0080FF);
  border-radius: 50%;
  position: absolute;
  left: 130px;
  bottom: -45px;
}
.layout-container .right-col .credit-card-container .chip {
  width: 44px;
  height: 31px;
  border-radius: 3px;
  background: #ddd;
  position: absolute;
  left: 20px;
  top: 55px;
}
.layout-container .right-col .credit-card-container .credit-card-number-container {
  display: flex;
  width: 293px;
  height: 36px;
  border: 2px solid transparent;
  background: transparent;
  position: absolute;
  left: 20px;
  border-radius: 4px;
  z-index: 2;
  top: 104px;
}
.layout-container .right-col .credit-card-container .credit-card-number-container .first-four-numbers {
  height: 10px;
  width: 55px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: 13px;
  margin-left: 10px;
  margin-right: 17px;
}
.layout-container .right-col .credit-card-container .credit-card-number-container .second-four-numbers {
  height: 10px;
  width: 55px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: 13px;
  margin-right: 17px;
}
.layout-container .right-col .credit-card-container .credit-card-number-container .third-four-numbers {
  height: 10px;
  width: 55px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: 13px;
  margin-right: 17px;
}
.layout-container .right-col .credit-card-container .credit-card-number-container .fourth-four-numbers {
  height: 10px;
  width: 55px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: 13px;
}
.layout-container .right-col .credit-card-container .name-container {
  display: flex;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.layout-container .right-col .credit-card-container .name-container .first-name {
  height: 10px;
  width: 40px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: 13px;
  margin-left: 10px;
  margin-right: 14px;
}
.layout-container .right-col .credit-card-container .name-container .last-name {
  height: 10px;
  width: 50px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  top: 13px;
}
.layout-container .right-col .credit-card-container .date-container {
  width: 50px;
  height: 36px;
  border-radius: 4px;
  position: absolute;
  top: 134px;
  left: 190px;
  z-index: 3;
}
.layout-container .right-col .credit-card-container .date-container .date {
  height: 10px;
  width: 30px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  top: 13px;
  margin-left: 10px;
}
.layout-container .right-col .credit-card-container .master-card-logo-container {
  width: 60px;
  height: 30px;
  display: flex;
  position: relative;
  top: 148px;
  left: 252px;
}
.layout-container .right-col .credit-card-container .master-card-logo-container .yellow-circle {
  width: 30px;
  height: 30px;
  background: #F5A623;
  border-radius: 50%;
  position: relative;
  left: 8px;
}
.layout-container .right-col .credit-card-container .master-card-logo-container .red-circle {
  width: 30px;
  height: 30px;
  background: #D0021B;
  border-radius: 50%;
}
.layout-container .right-col form {
  margin: 20px 0;
}
.layout-container .right-col form .inputLabel {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 6px 0;
  color: #444;
}
.layout-container .right-col form input {
  height: 38px;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid #E2EAF2;
  margin: 0 0 20px 0;
}
.layout-container .right-col form input::placeholder {
  color: #E2EAF2;
  position: relative;
  bottom: 1px;
}
.layout-container .right-col form input[type=text]:focus {
  border: 1px solid #0081FF;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
}
.layout-container .right-col form .card-number {
  width: 320px;
}
.layout-container .right-col form .first-name-input {
  width: 320px;
}
.layout-container .right-col form .last-name-input {
  width: 320px;
}
.layout-container .right-col form .card-info-container {
  display: flex;
}
.layout-container .right-col form .card-info-container .exp-date-input {
  margin-right: 20px;
  width: 140px;
}
.layout-container .right-col form .card-info-container .cvv-input {
  width: 60px;
}
.layout-container .right-col button {
  width: 100%;
  height: 48px;
  border: none;
  font-size: 12px;
  font-weight: 800;
  background: #eee;
  cursor: pointer;
  border-radius: 6px;
}
