<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <div class="links">
            <a href="{{ url_for('login') }}" class="active">Login</a>
            <a href="{{url_for('register')}}">Register</a>
        </div>
        <form action="{{ url_for('login') }}" method="post">
<!--            <label for="username"><i class="fas fa-user"></i></label>-->
<!--            {<input type="text" name="username" placeholder="Username" id="username"-->
<!--                    required>}-->
<!--            <label for="password">|-->
<!--            <i class="fas fa-lock"></i></label>-->
<!--            <input type="password" name="password" placeholder="Password" id="password"-->
<!--            required>--->
                {{ form.csrf_token }}
        	    {{ form.username }}


        	    {{ form.password }}

            <div class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <a href="/google_login"><p class="btn-text"><b style="font-size: 13px;">Log in with google</b></p></a>
            </div>


            	{{ form.recaptcha }}
			{% for error in form.recaptcha.errors %}
			<ul>
				<li style="color:red;">{{ error }}</li>
			{% endfor %}
			</ul>

                <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
